<!DOCTYPE html>
{% load static %}
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'Movie/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'Movie/css/style.css' %}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
		<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
        	<div class="row">
        		 <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman"/>
                </label>
        	</div>
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******"/>
                </label>
            </div>
           <div class="row">
           	 <button type="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Register</h3>
        <form method="post" action="{% url 'register' %}">
			{% csrf_token %}
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Username"/>
                </label>
				<label for="username-2">
                    First Name:
                    <input type="text" name="first_name" id="first_name" placeholder="Hugh"/>
                </label>
				<label for="username-2">
                    Last Name:
                    <input type="text" name="last_name" id="last_name" placeholder="Jackman"/>
                </label>
            </div>
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="text" name="email"/>
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password1"/>
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password2"/>
                </label>
            </div>
           <div class="row">
             <button type="submit">sign up</button>
           </div>
        </form>
    </div>
</div>
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="dropdown first">
							<a class="btn btn-default" href="{% url 'dashboard' %}">Home</a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Movies<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'movies' %}">Movie list</a></li>
								<li><a href="{% url 'createMovie' %}">Create movie</a></li>
								<li><a href="{% url 'createGenre' %}">Add a new genre</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Actors<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'actors' %}">Actor list</a></li>
								<li><a href="{% url 'createActor' %}">Create actor</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Producers<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'producers' %}">Producer list</a></li>
								<li><a href="{% url 'createProducer' %}">Create producer</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Directors<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="{% url 'directors' %}">Director list</a></li>
								<li><a href="{% url 'createDirector' %}">Create Director</a></li>
							</ul>
						</li>
					</ul>
					{% if not user.is_authenticated %}
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="loginLink"><a href="{% url 'login' %}">Log In</a></li>
						<li class="btn signupLink"><a href="#">Register</a></li>
					</ul>
					{% else %}
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<h4 style="color:yellow">Hello, {{ user }}!</h4>
						<li><a href="{% url 'profile' %}">Profile</a></li>
						<li><a href="{% url 'logout' %}">Log Out</a></li>
					</ul>
					{% endif %}
				</div>
	    </nav>
		<div class="top-search">
	    	<select>
				<option value="united">Director</option>
			</select>
			<input type="text" name="director_fname" id="director_fname" placeholder="Search for a director. Director suggestions will popup as you type.">
	    </div>
	</div>
</header>
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Director list</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
						<li> <span class="ion-ios-arrow-right"></span>directors</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p class="pad-change">Found <span>{{ director_count }} directors</span> in total</p>
				</div>
				<div class="row">
					{% for director, short_description in directors_and_short_descriptions %}
					<div class="col-md-12">
						<div class="ceb-item-style-2">
							<img src="{{ director.image.url }}"  width="170" height="261"  alt="">
							<div class="ceb-infor">
								<h2>
									<a href="{% url 'director' director.director_id %}">
										{{ director.fname }}
										{% if director.mname %}
											{{ director.mname }}
										{% endif %}
										{{ director.lname }}
									</a>
								</h2>
								<span>director, {{ director.country_name }}</span>
								<p> {{ short_description }} </p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search Director</h4>
						<form class="form-style-1 Producer-form" action="{% url 'searchedDirectors' %}">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Director Country</label>
									<select name="country" id="country">
									{% for country in countries %}
									  <option value="{{ country }}">
										  {{ country }}
									  </option>
									{% endfor %}
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Birth Year</label>
									<div class="row">
										<div class="col-md-6">
											<input name="from_year" type="text" placeholder="From year ...">
										</div>
										<div class="col-md-6">
											<input name="to_year" type="text" placeholder="To year ...">
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
					<div class="celebrities">
						<h4 class="sb-title">featured director</h4>
						<div class="celeb-item">
							{% if featured_director %}
							<a href="{% url 'director' featured_director.director_id %}"><img width="50" height="50" src="{{ featured_director.image.url }}" alt=""></a>
							<div class="celeb-author">
								<h6>
									<a href="#">
										{{ featured_director.fname }}
										{% if featured_director.mname %}
											{{ featured_director.mname }}
										{% endif %}
										{{ featured_director.lname }}
									</a>
								</h6>
								<span>Director</span>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'Movie/js/jquery.js' %}"></script>
<script src="{% static 'Movie/js/plugins.js' %}"></script>
<script src="{% static 'Movie/js/plugins2.js' %}"></script>
<script src="{% static 'Movie/js/custom.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$('#director_fname').autocomplete({
		select: function(event, ui) {
			director_fname = ui.item.value;
			$.ajax({
				data: {
					director_fname: director_fname
				},
				type: "get",
				url: "http://127.0.0.1:8000/singleDirectorSearchResult",
				dataType: "json",
				success: function(data){
					pk = data[0]['pk'];
					window.location.replace("http://127.0.0.1:8000/director/" + pk + "/");
				}
			});
	}});
	$(document).ready(function(){
		var fNames = []
        $.ajax({
            type: "get",
            url: "http://127.0.0.1:8000/allActorsJson",
            dataType: "json",
            success: function(data){
				data.forEach(myFunction);
				function myFunction(value) {
				  var fname = value['fields']['fname'];
				  var mname = value['fields']['mname'];
				  var lname = value['fields']['lname'];
				  var fullName = "";
				  if (mname === null){
				  	fullName = fname + " " + lname;
				  }
				  else{
				  	fullName = fname + " " + mname + " " + lname;
				  }
				  fNames.push(fullName);
				}
				console.log(fNames);
				$( "#actor_fname" ).autocomplete({
      			source: fNames
    			});
            },
        });
    });
</script>
</body>
</html>